*{
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  -ms-overflow-style: none;  
  outline-style: none;
  user-select: none;
  scrollbar-width: none;  
  -webkit-tap-highlight-color: transparent;
}


::-webkit-scrollbar {
  display: none;
}


:root{
  --GreyBG : #333333;
  --GreyLight : #4d4d4d;
  --TextColor : #ffffff;
  --Margin : 20px;
  --SizeIcon : 300px;    
  --Radius : 42px;
  --ThemeColor : #00bcdf;
  --Transition : .4s;
}

[data-theme='light'] {
  --GreyBG : #ebebeb;
  --GreyLight : #ffffff;
  --TextColor : #333333;
  --Margin : 20px;
  --SizeIcon : 300px;    
  --Radius : 42px;
  --ThemeColor : #00bcdf
}


html, body, #root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--GreyBG); */
  overflow: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: var(--GreyBG);
  transition: var(--Transition);
}


.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
}
